*{
    margin:0;
    padding:0;
}

body{
    padding:0;
    margin:0;
    
}
.grid_bg{
    background:url(../images/bodybg.webp);
    background-position-x: 45% !important;
}

:root{
    --color: #082942;
    --color_02:#27559A;
    --color_white:#fff;

}
.navbar .navbar-nav .nav-item .nav-link{
        letter-spacing: -0.5px;
        font-size:16px;
        color:var(--color);
        font-weight: 500;
}

.navbar{
    padding-top:1rem;
    margin-top:30px;
    position:absolute;
    width:100%;
    z-index: 1;
}
.navbar.sticky_navbar{
    position:fixed;
    width: 100%;
    top:0;
    margin-top:0px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    animation: stickynavar 1s linear  1;
}

.navbar.sticky_navbar .navbar-nav li.nav-item.active_items.text-white:after{
        background:#082942;
}
@media(min-width:992px){
    .navbar.sticky_navbar .navbar-nav .nav-item:nth-last-child(1){
        border:1px solid #082942;
        color:#082942;
        transition: all 0.5s ease-in-out;
    }
    .navbar.sticky_navbar .navbar-nav .nav-item:nth-last-child(1):hover{
            background:#082942;
    }
    .navbar.sticky_navbar .navbar-nav .nav-item.text-white:nth-last-child(1):hover a.nav-link{
        color:#fff !important;
    }
    .navbar.sticky_navbar .navbar-nav li.nav-item.text-white:nth-last-child(1) a.nav-link{
        color:#082942 !important;
}
    }

@keyframes stickynavar{
    0%{
        transform: translateY(-100px);
    }

    100%{
        transform: translateY(0px);
    }
}
.navbar.sticky_navbar .navbar-nav li.nav-item.text-white a.nav-link{
    color:#082942 !important;
}
/* .header_box {
    position: relative;
    margin-left:-48px;
}

.header_box:nth-child(1){
    transform: translateX(145px);
    margin-bottom:20px;
} */
li.nav-item {
    margin-right: 38px;
}
li.nav-item:nth-last-child(1){
    margin-right:0px;
}

@media(min-width:992px){
    .container {
        max-width: 1170px !important;
    }
}
section.hero_section {
    padding-top: 172px;
 /*   position: relative; */
    padding-bottom:105px;
    overflow: hidden;
	max-width:1348px;
	margin:0 auto;
}
section.hero_section:after{
    position:absolute;
    top:0;
    left:0;
    content: url(../images/Ellipse_33.webp);
    z-index: -1;
}

.NFT_lounge{
    /* background: url(../images/index_bg.png);
    background-repeat: no-repeat; */
    padding-bottom: 180px !important;
}
#heroslider .carousel-inner {max-width:647px;}
.progress-part {
	position:relative;
	margin-top:23px;
}
.progress {
  height: 2px !important;
  background-color: #3594e3 !important;
  position: relative;
  top: 1px;
  opacity: 0.4;
}
.progress-bar {
  height: 4px !important;
  background-color: #3594e3 !important;
  position: absolute;
  top: 0px;
  left: 0;
}
@media(min-width:1024px){
    div#heroslider {
        position: absolute;
        top: 0;
        right: 0;
        width: 48%;
        overflow: hidden;
        border-radius: 0px 0px 0px 75px;
    }
}

@media(min-width:1440px){
    div#heroslider{
        max-height: 950px;
    }
}
/*
@media(min-width:1660px){
    div#heroslider{
        max-height: 867px;
    }
} */
/* .carousel-item{
    position: relative;
}
.carousel-item:after {
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    content: '';
    background: #101010;
    position: absolute;
} */
/*.box-content {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 96%;
    transform: translateX(-50%);
    left: 50%;
    background: #fff;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    justify-content: space-between;
}

 .box-content ul{
    list-style:none;
    padding-left:0px;
    margin-bottom:0px;
}
.box-content ul:nth-child(1) li:nth-child(1) img{
    margin-right:10px;
}
.box-content ul li{
    font-size:16px;
    font-family: 'DM Sans', sans-serif;
    color:#1A1A1A;
    font-weight: 400;

}
.box-content ul li.font_size_20px{
    font-size: 20px;
    color:#1A1A1A;
    line-height:28px;
    font-weight: 500;
}
.box-content ul:nth-child(2) li:nth-child(2) img{
    margin-right:10px;
}
.box-content ul:nth-child(2) li{
    text-align: right;
}
*/
.title {
    letter-spacing: -4px;
    color: var(--color);
    line-height: 67px;
    font-size: 65px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
} 

.title.font_50{
    font-size:50px;
}
.header_desc{
   font-family: 'DM Sans', sans-serif;
   color:var(--color);
   font-size:24px;
   letter-spacing: -1px;
   margin-bottom:0px;
   margin-top:30px;
}
.buttons{
    margin-top:35px;
}
.buttons .Btn__ {
    font-family: 'DM Sans', sans-serif;
    font-size:16px;
    font-weight: 700;
    color:var(--color);
    text-decoration: none;
    height: 48px;
    display: inline-block;
    line-height: 48px;
    transition: all 0.5s ease-in-out;

}
.buttons .Btn__:nth-child(1){
    background:#3594E3;
    text-decoration: none;
    border-radius: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding:0px 25px;

}
.hover_block{
    display: none;
}
.buttons .Btn__:nth-child(1):hover{
    background:#082942;
    color:#fff;
}
.buttons .Btn__:nth-child(1):hover .hover_block{
    display: block;
}
.buttons .Btn__:nth-child(1):hover .hover_none{
    display: none;
}
.buttons .Btn__:nth-child(2):hover{
    background:#3594E3;
}

.buttons .Btn__:nth-child(2){
    background:#082942;
    color:#fff;
    text-decoration: none;
    border-radius: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:0px 25px;
    margin-left:20px;
}
li.nav-item.active_items {
    position: relative;
}
li.nav-item.active_items:after{
    position:absolute;
    bottom:10px;
    width:83%;
    left:50%;
    transform:translateX(-50%);
    content:'';
    height:2px;
    background:#082942;
}
li.nav-item.active_items:nth-last-child(1):after{
    display:none;
}

li.nav-item.active_items.text-white:after{
    background:#fff;
    opacity: 0.6;
}
li.nav-item.text-white a.nav-link{
    color:#fff !important;
}
a.carousel-control-next
{
    left: 155px;
}
.navigation__{
    bottom: 38px;
    height: 40px;
    background: #060505f5;
    bottom: 35px;
    position: absolute;
    top: auto;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
}

a.carousel-control-prev.navigation__ {
    left: 98px;
}
.navbar .navbar-nav .nav-item:nth-last-child(1) {
    border: 1px solid #fff;
    padding: 6px 26px;
    border-radius: 48px;
}
.navbar .navbar-nav .nav-item{
    padding: 6px 0px;
}
/* .navbar .navbar-nav .nav-item:nth-last-child(1) a{
    padding: 13px 0;
} */

/* @media(max-width:968px){
    div#heroslider{
        width: 100%;
    }
    .header_box:nth-child(1){
        transform: translateX(0);
    }
    .header_box{
        margin-left:0px;
    }

    .title, .header_desc{
        color:var(--color_white);
    }
    .title.pt-5.mt-4{
        padding-top:0px !important;
    }
} */

/* @media(min-width:768px) and (max-width:992px){
    .header_box{
        margin-left:0px;
        width: 48%;
        float: left;
        margin-top:30px;
    }
    .header_box:nth-child(2){
        float: right;
    }
} */

@media (min-width:1024px) and (max-width:1140px){
    section.hero_section{
        padding-bottom: 198px;
    }
}

@media(max-width:767px){
        .title.pt-5.mt-4{
            margin-top:0px;
        }
        .title{
            font-size:32px;
            line-height:40px;
        }
        .header_desc{
            font-size: 16px;
            margin-top: 13px;
        }
        
        section.hero_section{
            padding-top:82px;
            padding-bottom: 198px;
        }
        /* .margin_mobile{
            display: none;
        } */
        .buttons .Btn__:nth-child(2){
            margin-left:10px;
        }
        .buttons .Btn__:nth-child(1){
            width:165px;
        }
        /* div#heroslider {
            width: 100%;
            height: 590px;
        } */
}

@media(max-width:340px){
    section.hero_section {
        padding-top: 89px;
    }
    .title{
        font-size:30px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    section.hero_section {
        padding-top: 120px;
        padding-bottom: 214px
    }
}





/* Start Benifits section css Here */
    .benifits{
        margin-top:100px;
        background:url(../images/bg.webp);
        background-size:cover;
        padding-bottom:30px;
    }
    .margin_10{
        margin-top:20px;
    }
    .benifits_title{
        font-size:22px;
        font-family: 'DM Sans', sans-serif;
        color:var(--color_02);
        font-weight:var(--font-weight-bold);
        letter-spacing: -1px;
        margin-top:30px;
        margin-bottom:14px;
    }

    .desc{
        font-size: var(--font-size);
        font-family: 'DM Sans', sans-serif;
        line-height:27px;
        font-weight:var(--font-weight-normal);
        color:var(--color)
    }
    .benifits_box{
        padding:18px;
        transition: all .5s ease-in-out;
        border-radius: 34.5px;
    }
    .benifits_box:hover{
        box-shadow: 0px 0px 17.26px
        rgba(112, 144, 176, 0.25);
    }
/* Start Benifits section css Here */


/* ================== NFTlounge_collection_road ================= */
.NFTlounge_collection_road{
    padding-top:200px;
    padding-bottom:50px;
    margin-top:70px;
    position: relative;

}
.NFTlounge_collection_road:after {
    position: absolute;
    right: 0;
    content: url(../images/nft_louge.webp);
    top: -15%;
    width: 640px;
    z-index: -1;
}

.sub_title{
color: #3594E3;
font-family: 'DM Sans', sans-serif;
font-weight:700;
font-size:18px;
position:relative;
padding-left:20px;

}
.sub_title:after {
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 2px;
    content: '';
    background: #3594E3;
}

.view_more_box {
    width: 190px;
    height: 190px;
    background: #0A2D48;
    float: right;
    padding: 30px;
}
.view_more_box p{
    color:#fff;
    font-family: 'DM Sans', sans-serif;
    font-weight:700;
    font-size:24px;
    margin-top:37px;
    line-height:30px;
}
.titleNFT{
    font-size:74px;
    font-family: 'DM sans', sans-serif;
    font-weight: bold;
    letter-spacing: -3.5px;
    color: #082942;;
}
.top_hop {
    position: relative;
}
.top_hop:after {
    position: absolute;
    top: 154px;
    height: 66px;
    width: 97px;
    left: -42px;
    content: '';
    background: url(../images/dots.png);
}
.video_btn{
    position:absolute;
    bottom:0;
    right:0;
    width:45px;
    background-color: #3594E3;
    text-align: center;
    line-height: 45px;
    height: 45px;
    transition: all 0.8s ease-in-out;
}
.video_btn:hover{
    background-color: #236fad;
}
.nft_box_title{
    color:#27559A;
    font-family: 'Dm sans', sans-serif;
    font-size:18px;
    font-weight:bold;
    padding-left:20px;
    position: relative;
}
.nft_box_title:after{
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 2px;
    content: '';
    background: #000000;
}

@media(min-width:992px){
    .m_decrement {
        margin-top: -211px;
        transform: translateX(-10px) !important;
    }

    .minted.margin_decrement_l {
        margin-left: -10px;
    }
    
    .minted.margin_decrement_l1 {
        margin-left: -13px;
    }
    
    .minted.margin_decrement_l2 {
        margin-left: -16px;
    }

}

.tour_location{
    position:relative;
}
.ctn_width_col {
    margin-left: 13px;
    margin-right: -13px;
    padding: 2px !important;
}

.tour_location:after {
    position: absolute;
    top: -30px;
    right: -49px;
    width: 97px;
    z-index: -1;
    height: 97px;
    content: '';
    background: url(../images/dots.png);
}
.ctn_width_col .video_btn {
    right: 2px;
    bottom: 1px;
}
.mt_decrement {
    margin-top: -30px;
}

.tour_title{
    font-size:20px;
    font-family: 'DM sans', sans-serif;
    font-weight: bold;
    line-height:30px;
    color:#000000;
    margin-top:15px;
    letter-spacing: 0.3px;
    margin-bottom:0px;
}
.tour_location_content{
    margin-left:13px;

}

.tour_desc{
    font-size:13px;
    font-family: 'DM sans', sans-serif;
    letter-spacing: 0.4px;
    color:#000000;
    opacity: 0.5;
}

.box-desc_{
    padding-left:20px;
    opacity: 0.8;
}

@media(min-width:992px){
    .col_margin_decerement{
        margin-left:-33.33%;
        margin-top:-4%;
    }
}

@media(max-width:992px){
    .ctm_order{
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
    }

    .mt_decrement {
        margin-top: -30px;
    }

    .col-md-6.col-sm-12.pt-5.mt-3.col-lg-4.col_margin_decerement {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
    .tab_mobile_none{
        display: none;
    }
}
/* ================== NFTlounge_collection_road ================= */



/* ================== Start Our Best Relevent Collection ============= */
.Our_Best_Relevent{
    padding-top:130px;
    padding-bottom:80px;
    position:relative;
}

.our_best_title{
    font-size:50px;
    font-family: 'DM sans', sans-serif;
    font-weight: bold;
    line-height: 53px;
    letter-spacing: -4px;
    color:#082942;

}

.our_best_desc{
    margin-top:25px;
    font-size:24px;
    font-family: 'DM sans', sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    line-height:33px;
    color: #082942;
}

.our_navigaation {
	float:right;
    display: flex;
}

.our_navigaation .swiper-button-nextour, .our_navigaation .swiper-button-prevour{
    width:45px;
    height:45px;
    border-radius:10px;
    border:1px solid #27559A;
    line-height:45px;
    cursor:pointer;
    text-align:center;
    color: #27559A;
    transition:.5s ;
}
.our_navigaation .swiper-button-nextour i, .our_navigaation .swiper-button-prevour i{
    color:#27559A;
}
.our_navigaation .swiper-button-nextour:hover, .our_navigaation .swiper-button-prevour:hover{
    background-color: #27559A;
    color: #fff;
}
.our_navigaation .swiper-button-nextour:hover i, .our_navigaation .swiper-button-prevour:hover i{
    color: #fff;
}

.swiper-button-prevour {
    margin-right: 15px;
}

.slides_box {
    position: relative;
    width: 100%;
}

.content_box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    padding: 20px;
    background: #fff;
    width: 90%;
    transform: translateX(-50%);
}

.slide_box_title{
    font-size:18px;
    font-family: 'Dm sans', sans-serif;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.5px;
    color:#082942;
}
.slide_ul {
    list-style: none;
}

.slide_ul li {
    display:inline-block;
}
.slide_ul li:nth-child(2){
    margin-left:20px;
}
.slide_ul li span{
    font-size:14px;
    font-weight: normal;
    font-family: 'DM sans', sans-serif;
    color:#64748B;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.slide_ul li h4{
    font-size:16px;
    font-family: 'DM sans', sans-serif;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.mint_now{
    width:86px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(53, 148, 227, 0.3);
    font-size: 14px;
    letter-spacing: 0.2px;
    display: block;
    text-align:center;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: #3594E3;
    font-weight: bold;
    font-family: 'DM sans', sans-serif;
}
.mint_now:hover{
    text-decoration: none;
    background-color: #0A2D48;
    color:#fff;
}
.ourBestswiper {
    margin-top: 60px;
}

/* ================== Start Our Best Relevent Collection ============= */


/* ======== Start Nesletter section ====== */
.newslatter{

    padding-top:80px;
    padding-bottom:124px;

}

.newlatter_title{
    font-size:37px;
    font-family: 'DM sans', sans-serif;
    color:#082942;
    font-weight: bold;
    letter-spacing: -2px;
    text-align: center;
}

@media(min-width:768px){
    .newlatter_title{
        padding-left:30px;
        padding-right:30px;
    }
}

.news_desc{
    color:rgba(22, 37, 30, 0.6);
    font-size:15px;
    text-align:center;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top:30px;
    font-weight: 400;

}

.newsletter_form{
    position:relative;
    margin-top:44px;
}
.news_inputs{
    border:none;
    font-family: 'DM sans', sans-serif;
    background-color: #F1F1F1 !important;
    padding-right:10%;
    height: 54px;
    line-height: 54px;
    padding-left: 20px;
}

.news_inputs:focus{
    box-shadow: none;
}

a.newsletter_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 184px;
    border-radius: 6px;
    text-align: center;
    font-weight: 300;
    transition:all 0.5s ease-in-out;
    text-decoration: none;
    color: #fff;
    height: 54px;
    box-shadow: 0px 0px 0.77px rgba(0, 0, 0, 0.12);
    background: #3594E3;
    line-height: 54px;
}
a.newsletter_btn:hover{
    background: #082942;
}
/* ======== End Nesletter section ====== */


/* =========== Footer ========= */
.footer{
    padding-top:80px;
    padding-bottom:40px;
    border-top:1px solid #f1f1f1;
    position: relative;
}

.footer:after{
    position: absolute;
    bottom:0;
    right:0;
    content: url(../images/footer-ellips.webp);
}

.footer_desc{
    font-size:15px;
    font-family: 'DM sans', sans-serif;
    font-weight: 400;
    line-height:20px;
    color:rgba(22, 37, 30, 0.6);
    width:50%;
    margin-top:25px;
    margin-bottom:25px;
}
.footer_ul{
    list-style: none;
}
  
.footer_ul li{
    display: inline-block;
}
.footer_ul li i{
    font-size:31px;
   
}
.footer_ul li a{
    text-decoration: none;
}
.footer_ul li{
    margin-right:10px;
}
.footer_ul li:nth-last-child(1){
    margin-right:0px;
}

.footer_ul i.fa-linkedin{
    color: #0077B7;
    transition:all 0.5s ease-in-out;
}

.footer_ul i.fa-twitter-squar{
    color: #03A9F4;
    transition:all 0.5s ease-in-out;
}
.footer_ul i.fa-facebook-square{
    color: #1976D2;
    transition:all 0.5s ease-in-out;
}

.footer_sun_title{
    color:#082942;
    font-family: 'DM sans', sans-serif;
    font-weight: bold;
    font-size:20px;
    line-height:26px;
    text-align:left;
}

.footer_nav{
    list-style: none;
}
.footer_nav li{
line-height: 48px;
}
.footer_nav li a{
font-size:15px;
font-family: 'DM sans', sans-serif;
color:rgba(22, 37, 30, 0.6);
text-align: left;
}

.footer_nav li a:hover{
    text-decoration: none;
}
/* =========== Footer ========= */

/* ======== copyright ======= */

.copyright_desc{
    text-align:center;
    width: 100%;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    color: #082942;
    text-decoration: none !important;
}
/* ======== copyright ======= */



@media(max-width:992px){
    .ctn_width_col{
        margin-left:0 !important;
        margin-right:0 !important;
        width:85%;
      
    }
    .ctm_order.orderlg-0.p-0.mt_decrement{
        padding-right:15px !important;
        padding-left:15px !important;
        margin-top: 4%;
    }
    
}

@media(max-width:767px){
    .titleNFT{
        font-size:34px !important;
    }
    .col-md-4.pl-0.pt-5.mt-3{
        padding-left:15px !important;
    }

    h1.title.font_50.text-center{
        color: var(--color) !important;
    }
    p.header_desc.text-center.margin_10{
        color: var(--color) !important;
    }

    .benifits{
        padding-top:0px;
        margin-top:0px !important;
    }

    .benifits_box{
        box-shadow: 0px 0px 8px rgb(112 144 176 / 20%);
        margin-bottom:20px;
    }
    .title.font_50 {
        font-size: 34px !important;
        letter-spacing: -2px;
        line-height: 34px;
    }
    .margin_10{
        margin-top:10px !important; 
    }

    .view_more_box {
        display: flex;
        height: 61px;
        align-items: center;
        padding: 15px;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    
    .view_more_box p {
        margin-top: 0px;
        display: inline;
        font-size: 16px;
        margin-bottom: 0px;
    }
    
    .view_more_box p br {
        display: none;
    }

    .NFTlounge_collection_road{
        margin-top:0px;
    }
    .NFTlounge_collection_road{
        padding-bottom:30px;
    }
    .Our_Best_Relevent{
        padding-top:30px;
        padding-bottom:30px;
    }

    .our_best_title {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: -2px;
    }
    .our_best_desc {
        margin-top: 25px;
        font-size: 20px;
        line-height: 30px;
    }

    .our_navigaation {
        top: 26%;
        right: 15px;
    }
    .newslatter {
        padding-top: 36px;
        padding-bottom: 74px;
    }
    .newlatter_title{
        font-size:32px;
        letter-spacing: -1px;
    }
    .title{
        letter-spacing: -2px;
    }
    .footer_desc{width:100%}

    .footer_nav li {
        line-height: 34px;
    }
}


@media(min-width:768px) and (max-width:1280px){
    .title.font_50{
        color:#082942 !important;
        letter-spacing: -2px;
    }
    p.header_desc.text-center.margin_10{
        color:#082942;
    }
    .benifits{
        padding-top:20px;
    }
    .NFTlounge_collection_road{
        margin-top:30px;
    }

    .Our_Best_Relevent {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
    }
    .our_navigaation{
        top:22%;
    }
    .titleNFT{
        font-size: 50px;
        letter-spacing: -1.5px;
    }
}

@media(max-width:992px){
    .navbar{
        background:#fff;
        margin-top: 0px;
    }
    li.nav-item.active_items:after {
        position: absolute;
        bottom: 0px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        height: 2px;
        background: #082942;
    }
    li.nav-item.text-white a.nav-link{
        color:#082942 !important;
    }
    li.nav-item.text-white{
        color: #082942 !important;
    }
    .navbar .navbar-nav .nav-item:nth-last-child(1) {
        border: none;
        padding: 0px 0px;
        border-radius: 0px;
    }

    li.nav-item.active_items:nth-last-child(1):after{
        display:block;
    }
    
    li.nav-item.active_items.text-white:after{
        background-color: #082942;
    }
}

/* =============== NFT Booking Landing Page =============== */

.counting{
    font-family: 'Charis SIL', serif;
    font-size:36px;

}

.nft_booking_hero{
    background: url(../images/banner.webp);
    padding-bottom:100px !important;
    background-repeat: no-repeat;
}

@media(min-width:1280px){
    .widht_90{
        max-width:86% !important;
    }
}

.smart_booking{
    background:#D8EAFB;
    height: 27px;
    width:124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 48px;
    font-size:12px;
    font-family: 'DM sans', sans-serif;
    letter-spacing: -0.5px;
    font-weight: bold;
    padding:10px;
}

.smart_booking:hover{
    text-decoration: none;
}

.tour_slide_desc{
    font: size 16px;
    font-weight:500;
    font-family: 'DM sans', sans-serif;
    letter-spacing: -0.5px;
    line-height:22px;
    color:#082942;
    opacity: 0.4;
}
.tour_liser {
    margin-top: 49px;
}

/* ============= our WhitePapper ==========  */
.white_papper_btn {
    width: 241px !important;
}

h1.our_whitepapper_title{
    font-family: 'DM sans', sans-serif;
    font-weight:bold;
    font-size:45px;
    line-height: 47px;
    letter-spacing: -2px;
    color:#082942;
    padding-top:30px;
}

.white_papper_dec{
    font-size:20px;
    font-family: 'DM sans', sans-serif;
    color: #082942;
    line-height:32px;
    letter-spacing: -0.8px;
    margin-top:30px;
}
.our_white_papper{
    margin-top:200px;
    padding-top:80px;
    position: relative;
    padding-bottom:80px;
}
.our_white_papper:after{
    position: absolute;
    left:0;
    top:0;
    content: url(../images/white_papper_bg.png);
    z-index: -1;
}

/* ============= our WhitePapper ==========  */

/* ======== Our Team ========== */
    .team_title{
        font-size:22px;
        font-family: 'DM sans', sans-serif;
        color: #0F172A;
        line-height:34px;
        text-align:center;
        margin-top:20px;
        margin-bottom:0px;
        font-weight: bold;
        letter-spacing: -1px;
    }
    .team_desination{
        font-size:12px;
        font-weight:500;
        font-family: 'Dm sans',sans-serif;
        color:#0F172A;
        letter-spacing: -0.5px;
        opacity: 0.3;
        text-align: center;
    }
    .team_social{
        margin:0 auto;
        text-align:center;
    }
    .Team_box {
        padding: 13px 13px 30px 13px;
        transition: all 0.5s ease-in-out;
        border-radius: 87px 87px 24px 24px;
    }
    .swiper.ourTeam {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .Team_box:hover{
        box-shadow: 10px 10px 24px rgb(0 0 0 / 6%);
        background-color: #fff;
    }
    .team_navigaation {
        float: right;
        display: flex;
        margin-top:18px;
    }

    .team_navigaation .swiper-button-nexteam, .team_navigaation .swiper-button-prevteam{
        width:45px;
        height:45px;
        border-radius:10px;
        border:1px solid #27559A;
        line-height:45px;
        text-align:center;
        color: #27559A;
        cursor: pointer;
        transition:.5s ;
    }
    .team_navigaation .swiper-button-nexteam i, .team_navigaation .swiper-button-prevteam i{
        color:#27559A;
    }
    .team_navigaation .swiper-button-nexteam:hover, .team_navigaation .swiper-button-prevteam:hover{
        background-color: #27559A;
        color: #fff;
    }
    .team_navigaation .swiper-button-nexteam:hover i, .team_navigaation .swiper-button-prevteam:hover i{
        color: #fff;
    }
    
    .swiper-button-prevteam {
        margin-right: 15px;
    }
    

    .our_teamNFT{
        padding-top:50px;
        padding-bottom:50px;
        background: url(../images/Team_bg.png);
        position: relative;
    }
    .our_teamNFT:after{
        position: absolute;
        top: -45%;
        right: 0;
        z-index: -1;
        content: url(../images/team_right.webp);
    }

    .our_teamNFT:before{
        position: absolute;
        z-index: -1;
        left: 0;
        content: url(../images/team_left.webp);
    }

    @media(min-width:992px){
        .mobile_img_banner{
            display: none;
        }
    }
    @media(max-width:991.99px){
        .nft_booking_hero{
            background: #fff;
        }
        .text_color{
            color: #082942 !important;
        }
    }

    @media(max-width:767px){
        .NFT_lounge{
            padding-bottom:20px !important;
        }
        .navigation__{
            bottom:10px;
        }
        .NFTlounge_collection_road{
            padding-top:78px;
        }
        .smart_booking{
            margin-top:20px;
        }
        section.nft_booking_hero{
            padding-top:82px;
        }
        .nft_booking_hero{
            padding-bottom:30px !important;
        }
        .our_white_papper{
            margin-top:0px;
            padding-top: 0px;
        }
        .our_ehiter_papper {
            padding-top: 40px;
        }
        .swiper-slide.swiper-slide-active .Team_box{
            box-shadow: 10px 10px 24px rgb(0 0 0 / 6%);
            background-color: #fff;
        }
        .our_white_papper:after{
            display: none;
        }
        .our_teamNFT:before {
            position: absolute;
            z-index: -1;
            left: 0;
            background: url(../images/team_left.png);
            width: 50%;
            content: '';
        }

        .nft_booking_hero.NFT_lounge {
            padding-bottom: 42px !important;
        }
        .grid_bg{
            background-color: #fff;
        }

        .title_ {
            font-size: 28px !important;
           margin-top:20px;
            line-height: 40px !important;
        }
    }

    @media(min-width:768px) and (max-width:1024px){
        section.hero_section{
            padding-top:90px;
        }
        .smart_booking{
            margin-top:20px;
        }
        .nft_booking_hero{
            padding-bottom:0px !important;
        }
        .our_white_papper{
            margin-top:50px;
        }
       .ordering_row .mt_decrement{
        margin-top:0px !important;
        padding-top:15px !important;
        padding-left:15px !important;
        padding-right:15px !important;
        }
        .ordering_row .mt_decrement .ctn_width_col{
            width: 100% !important;
        }
        .order_col[style="padding-right:8px !important"]{
            padding-right: 15px !important;
        }
    }
/* ======== Our Team ========== */


/* ============== NFT_Booking Roadmap ================== */

@media(min-width:992px){
    .img {
        position: absolute;
        width: 55%;
        overflow: hidden;
        border-radius: 0px 0px 66px 0px;
        top: 0;
    }
    .padding-170{
        padding-top:172px;
    }
    .title_{
        color:#fff;
    }
}

@media (min-width:1600px) {
.img {
    border-radius: 0px 0px 50px;
    position: absolute;
    width: 55%;
    overflow: hidden;
    max-height: 404px;
    top: 0;
}
}

.title_{
    font-size:45px;
    font-family: 'DM sans', sans-serif;
    line-height:52px;
    letter-spacing: -0.16px;
    font-weight: bold;
    position: relative;
}
.position_y{
    background-position-y: 56%;
}

@media(min-width:992px){
    .margin_16_66{
        margin-left:16.2%;
    }
    .dec_margin_16_68{
        margin-left:-16.88%;
    }
    .mt_decrement {
        margin-top: -100px;
    }
}
.after_none:after{
    display: none;
}


/* ==================== Modal ======================= */

.mint_now_modal{
    font-size:40px;
    font-weight:bold;
    font-family: 'DM sans', sans-serif;
    letter-spacing: -1px;
    color: #082942;
}

.modal-header{
    border-bottom:none !important;
}
.modal-footer{
    border-top:none !important;
}
/* ==================== Modal ======================= */

/* ===========Road Map =================== */

.slider_navigation {
    position: relative;
    padding-top: 28px;
}
.slider_navigation:after{
        position:absolute;
        top:-60px;
        right: 0;
        content: url(../images/star.svg);
}

@media(max-width:767px){
    .NFT_booking_hero{
        padding-top:85px;
    }
    .mobile_row{
        flex-direction: column-reverse;
    }
    .navbar .navbar-nav .nav-item.roadmap__:nth-last-child(1){
        border:none !important;
    }
    .navbar .navbar-nav .nav-item.roadmap__:nth-last-child(1):hover{
        background-color:transparent !important;
    }
    .navbar .navbar-nav li.nav-item.scroll_add_cladd.roadmap__:hover a.nav-link{
        color: #082942 !important;
    }
}

.navbar .navbar-nav .nav-item.roadmap__:nth-last-child(1){
    border:1px solid #082942;
    transition:all 0.5s ease-in-out;
}
.navbar .navbar-nav .nav-item.roadmap__:nth-last-child(1):hover{
    background-color:#082942;
}
.navbar .navbar-nav .nav-item.roadmap__:nth-last-child(1):hover a{
    color: #fff !important;
}

@media(max-width:767px){
    .row.ordering_row{
        display:flex;
    }
    .row.ordering_row .col_1 {
        order: 1;
    }
    .row.ordering_row .col_2 {
        order: 2;
    }
    
    .row.ordering_row .col_3 {
        order: 3;
    }
    .row.ordering_row .col_4 {
        order: 4;
    }
    .row.ordering_row .col_7 {
        order: 5;
    }
    .row.ordering_row .col_9 {
        order: 6;
    }
    .row.ordering_row .col_5 {
        order: 7;
    }
    .row.ordering_row .col_6 {
        order: 9;
    }
    .row.ordering_row .col_8 {
        order: 8;
    }
    .ctn_width_col{
        width:100%;
    }
    .col_6.mt_decrement {
        padding: 15px !important;
        margin-top:0px;
    }
    .our_teamNFT:after{
        display: none;
    }
    .tour_location:after{
        display: none;
    }
}