<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Booking</title>
    <!-- ======== Bootstrap 4 ========= -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- =======Swiper min css -->
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <!-- ======== Main_style css -->
    <link rel="stylesheet" href="../css/main_style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 
</head>
<body>
    
<!--==============header========= -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
    <a class="navbar-brand" href="index.html">
        <img src="../images/Logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Whitepaper</span></a>
        </li>
        <li class="nav-item text-white">
          <a class="nav-link" href="nft_booking_roadmap.html">Roadmap</a>
        </li>
        <li class="nav-item text-white">
            <a class="nav-link" href="nft_Lounge.html">NFT Lounge</a>
        </li>
        <li class="nav-item text-white active_items">
            <a class="nav-link" href="index.html#TeamGroup">Team</a>
        </li>
        <li class="nav-item text-white">
            <a class="nav-link" href="#">Jobs</a>
        </li>
        <li class="nav-item text-white">
            <a class="nav-link" href="#">Connect Wallet</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
<!--==============header========= -->

<!-- ======hero section ========== -->
<section class="hero_section nft_booking_hero">
    <img src="../images/hero_picture.webp" alt="../images/hero_picture.webp" class="w-100 mobile_img_banner">
    <!-- slider area -->
        <div class="container">
           <div class="row">
            <div class="col-md-12 col-sm-12 col-12 col-lg-6">
                <div class=" widht_90">
                <a href="#!" class="smart_booking"><i class="fa-solid fa-circle"></i><span>Smart Booking</span></a>
                <h1 class="title text_color mt-4"  data-aos="fade-up" data-aos-duration="1000">
                    The easiest way to find your<br> travel services<br>
                    in Web 3.
                </h1>
                <p class="header_desc text_color" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    NFTBooking introduces a new way of booking travel services with functionalities that never occurred in the travel industry, using non-fungible tokens (NFTs) to generate, book and trade travel services, hotel rooms, flights ,activities and events tickets.
                </p>

                <div class="tour_liser">
                    <div class="row">
                        <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="tour_slider_title"><span class="counting" data-count="20">0</span>+</h3>
                            <p class="tour_slide_desc"> Tours</p>
                        </div>
                        <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4"data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                            <h3 class="tour_slider_title"><span class="counting" data-count="20">0</span>k</h3>
                            <p class="tour_slide_desc"> Bidings Listing</p>
                        </div>

                        <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="350">
                            <h3 class="tour_slider_title"><span class="counting" data-count="1000">0</span>+</h3>
                            <p class="tour_slide_desc">Growing travel services providers</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- <div class="col-md-12 col-sm-12 col-12 col-lg-5 ml-auto margin_mobile"></div> -->
           </div>
        </div>
</section>
<!-- ======hero section ========== -->
<!-- ==========Our Whitepapper=========== -->
    <section class="our_white_papper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 whitepapper_col">
                    <h1 class="our_whitepapper_title" data-aos="fade-up" data-aos-duration="1000">
                        Our Whitepaper
                    </h1>
                    <p class="white_papper_dec"data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        Our goal is to create an open market through blockchain technology where accommodation providers directly meet guests. We believe blockchain marketplaces for accommodation services are the future, and want to be among the first ones to offer them.<br> 
Accommodation providers can increase coverage for their services and decrease prices for guests as redundant intermediaries are cut off.
                    </p>
                    <div class="buttons">
                        <a href="#!" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="450" class="Btn__ white_papper_btn text-white">Download Whitepaper<img src="assets/images/white_arrow.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="our_ehiter_papper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <img src="../images/nft_img_02.webp" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- ==========Our Whitepapper=========== -->
<!-- ============== Start Our Team =========== -->
<a id="TeamGroup"></a>
<section class="our_teamNFT">
    <div class="container">
        <div class="row">
            <div class="col-md-7 pr-lg-0">
                <h1 class="our_whitepapper_title" data-aos="fade-up" data-aos-duration="1000">
                    Our Team
                </h1>
                <p class="white_papper_dec" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    We have a team of NFT and Travel experts, you can contact them through social media :
                </p>
            </div>
            <div class="col-md-5">
                <div class="team_navigaation">
                    <div class="swiper-button-prevteam"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="swiper-button-nexteam"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
        <div class="swiper ourTeam">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/Danilo Mazza.jpg" class="w-100" alt="">
                    <h3 class="team_title">Danilo Mazza</h3>
                    <p class="team_desination">CEO</p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/Aimine Ali Pacha.jpg" class="w-100" alt="">
                    <h3 class="team_title">Amine Ali Pacha</h3>
                    <p class="team_desination">COO</p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/David Alba.jpg" class="w-100" alt="">
                    <h3 class="team_title">David Alba</h3>
                    <p class="team_desination">CTO</p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/Marcello Mazza.jpg" class="w-100" alt="">
                    <h3 class="team_title">Marcello Mazza</h3>
                    <p class="team_desination">Operations Manager </p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/Fredrik Bergem.jpg" class="w-100" alt="">
                    <h3 class="team_title">Fredrik Bergem</h3>
                    <p class="team_desination">Financial Advisor</p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/Alessio Giannetti.jpg" class="w-100" alt="">
                    <h3 class="team_title">Alessio Giannetti</h3>
                    <p class="team_desination">Discord Admin</p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/Giuseppe.jpg" class="w-100" alt="">
                    <h3 class="team_title">Giuseppe</h3>
                    <p class="team_desination">Video Maker</p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/Bamise Oluwaseun.jpg" class="w-100" alt="">
                    <h3 class="team_title">Bamise Oluwaseun</h3>
                    <p class="team_desination">Social Media Manager</p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/Saeed0.jpg" class="w-100" alt="">
                    <h3 class="team_title">Saeed</h3>
                    <p class="team_desination">Social Media Manager</p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="Team_box">
                    <img src="../images/team/Mob.jpg" class="w-100" alt="">
                    <h3 class="team_title">Mob</h3>
                    <p class="team_desination">Social Media Manager</p>
                    <ul class="footer_ul team_social">
                        <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                    </ul>
                </div>
              </div>
              <!-- <div class="swiper-slide">Slide 7</div>
              <div class="swiper-slide">Slide 7</div>
              <div class="swiper-slide">Slide 8</div>
              <div class="swiper-slide">Slide 9</div> -->
            </div>
          </div>
    </div>
</section>
<!-- ============== End Our Team =========== -->
<!-- =========== Start Our Best Relevent collaction ============= -->
<section class="Our_Best_Relevent">
    <div class="container">
        <div class="row">
			<div class="col-md-10 pr-lg-0">
                <h1 class="our_best_title"data-aos="fade-up" data-aos-duration="1000">
                    Our NFT Travel Collections
                </h1>
                <p class="our_best_desc" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    The NFTBooking team also creates its own NFT Travel collections, from airport lounges to hotel rooms to event tickets. Find out more about these collections here.
                </p>
            </div>
            <div class="col-md-2">                
				<div class="our_navigaation">
					<div class="swiper-button-prevour"><i class="fa-solid fa-chevron-left"></i></div>
					<div class="swiper-button-nextour"><i class="fa-solid fa-chevron-right"></i></div>
				</div>
            </div>
        </div>
        <div class="swiper ourBestswiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                <div class="slides_box">
                    <a href="#!">
                        <img src="../images/Our_Best_NFT_03.webp" class="w-100" alt="Tour Travelings California 3">
                    </a>
                    <div class="content_box">   
                        <h3 class="slide_box_title">
                            Tour Travelings California
                        </h3>
                        <ul class="slide_ul">
                            <li>
                                <span>Current Bid</span>
                                <h4>3ETH ($14,147)</h4>
                            </li>
                            <li>
                                <span>Time Left</span>
                                <h4>8H 30M 21S</h4>
                            </li>
                        </ul>
                        <a href="#!" class="mint_now">Mint Now</a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="slides_box">
                    <a href="#!">
                        <img src="../images/Our_best_NFT_02.webp" alt="Tour Travelings California 1" class="w-100">
                    </a>
                    <div class="content_box">   
                        <h3 class="slide_box_title">
                            Tour Travelings California
                        </h3>
                        <ul class="slide_ul">
                            <li>
                                <span>Current Bid</span>
                                <h4>3ETH ($14,147)</h4>
                            </li>
                            <li>
                                <span>Time Left</span>
                                <h4>8H 30M 21S</h4>
                            </li>
                        </ul>
                        <a href="#!" class="mint_now">Mint Now</a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="slides_box">
                    <a href="#!">
                        <img src="../images/Our_Best-NFT_01.webp" alt="Tour Travelings California 1" class="w-100">
                    </a>
                    <div class="content_box">   
                        <h3 class="slide_box_title">
                            Tour Travelings California
                        </h3>
                        <ul class="slide_ul">
                            <li>
                                <span>Current Bid</span>
                                <h4>3ETH ($14,147)</h4>
                            </li>
                            <li>
                                <span>Time Left</span>
                                <h4>8H 30M 21S</h4>
                            </li>
                        </ul>
                        <a href="#!" class="mint_now">Mint Now</a>
                    </div>
                </div>
              </div>
            </div>
            
          </div>
    </div>
</section>
<!-- =========== End Our Best Relevent collaction ============= -->

<!-- ========== newsletter section ========= -->
<section class="newslatter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="newlatter_title" data-aos="fade-up" data-aos-duration="1000">Let's explore the beauty of the world with NFTBooking</h1>
                <p class="news_desc" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">Join our newsletter to get the latest news, updates and special offers delivered directly to your inbox</p>
                <form action="" class="newsletter_form" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <input type="text" placeholder="Enter your email" class="form-control news_inputs">
                    <a href="#!" class="newsletter_btn">Join our newsletter</a>
                </form>
            </div> 
        </div>
    </div>
</section>
<!-- ========== newsletter section ========= -->


<!--  ==========Footer======= -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../images/Logo.png" alt="logo" data-aos="fade-up" data-aos-duration="1000">
                <p class="footer_desc" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">We always provide the best NFT Travel services for our users</p>
                <ul class="footer_ul" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="350">
                    <li><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#!"><i class="fa-brands fa-twitter-square"></i></a></li>
                    <li><a href="#!"><i class="fa-brands fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 col-lg-3">
                <h3 class="footer_sun_title" data-aos="fade-up" data-aos-duration="1000">Products</h3>
                <ul class="footer_nav">
                    <li><a href="#!" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">Whitepaper</a></li>
                    <li><a href="#!" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Roadmap</a></li>
                    <li><a href="#!" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">NFT Lounge collection</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 col-lg-3">
                <h3 class="footer_sun_title" data-aos="fade-up" data-aos-duration="1000">About Us</h3>
                <ul class="footer_nav">
                    <li><a href="#!" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">Team</a></li>
                    <li><a href="#!"data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Jobs</a></li>
                    <li><a href="#!"data-aos="fade-up" data-aos-duration="1000" data-aos="500">Connect Wallet</a></li>
                    <li><a href="#!">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="row pt-lg-5 pt-sm-3">
            <div class="col-md-12 text-center">
                <span class="copyright_desc">©2022 NFTBOOKING. All rights reserved</span>
            </div>
        </div>
    </div>
</footer>
<!--  ==========Footer======= -->

    <!-- ===============script=========== -->
    <script src="../js/jquery-3.6.0.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>